---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "../../layouts/Layout.astro";
import HeaderHero from "../../components/HeaderHero.astro";
import type { CollectionEntry } from "astro:content";
import Speaker from "../../components/Speaker.astro";

const speakers = await getCollection("speaker");

const schema = {
  "@context": "https://schema.org",
  "@type": "ItemList",
  name: "Liste des orateurs",
  description:
    "Liste des orateurs participant à la conférence de développement web.",
  itemListElement: speakers
    .map((speakerConf: CollectionEntry<"speaker">) => speakerConf.data)
    .map((speaker) => ({
      "@type": "Person",
      name: speaker.name,
      jobTitle: speaker.jobTitle,
      description: speaker.description,
      url: `/fr/speakers/${speaker.name}`,
      image: speaker.image,
      sameAs: [
        speaker.twitter ? `https://twitter.com/${speaker.twitter}` : null,
        speaker.linkedin
          ? `https://www.linkedin.com/in/${speaker.linkedin}`
          : null,
      ],
    })),
};
---

<Layout title="Speakers" schema={schema}>
  <main>
    <HeaderHero>
      <span slot="title">Orateurs</span>
    </HeaderHero>
    <section class="max-w-screen-lg m-auto flex flex-col items-center px-8">
      <!-- <section class="flex flex-col items-center gap-4">
        <p class="text-center text-2xl font-bold">
          Notre appel à speakers est ouvert jusqu'au 14 mars 2025
        </p>
        <a
          href="https://conference-hall.io/ng-baguette-conf-2025"
          target="_blank"
          class="btn btn-primary">Soumettez vos propositions</a
        >
      </section> 

      <section class="flex flex-col items-center gap-4">
        <p class="text-center text-2xl font-bold">
          Notre appel à speakers est fermé. Plus d'information à venir !
        </p>
      </section>
      -->
      <ul
        class="flex flex-wrap justify-center max-w-screen-lg mt-12 gap-x-32 gap-y-20 px-8"
      >
        {
          speakers.map((speaker) => (
            <li>
              <!--
              <a
                href={getRelativeLocaleUrl(
                  Astro.currentLocale!,
                  "/speaker/" + speaker.slug
                )}
              >
                -->
                <Speaker speaker={speaker.data} />
              <!--</a> -->
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
