---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import HeaderHero from "../../components/HeaderHero.astro";
import type { CollectionEntry } from "astro:content";
import ProgramItem from "../../components/ProgramItem.astro";

const speakers = await getCollection("speaker");

const tracks = await getCollection("track");

const schema = {
  "@context": "https://schema.org",
  "@type": "ItemList",
  name: "Program",
  description:
    "List of speakers participating in the web development conference.",
  itemListElement: speakers
    .map((speakerConf: CollectionEntry<"speaker">) => speakerConf.data)
    .map((speaker) => ({
      "@type": "Person",
      name: speaker.name,
      jobTitle: speaker.jobTitle,
      description: speaker.description,
      url: `/en/speakers/${speaker.name}`,
      image: speaker.image,
      sameAs: [
        speaker.twitter ? `https://twitter.com/${speaker.twitter}` : null,
        speaker.linkedin
          ? `https://www.linkedin.com/in/${speaker.linkedin}`
          : null,
      ],
    })),
};
---

<Layout title="Program" schema={schema}>
  <main>
    <HeaderHero>
      <span slot="title">Program</span>
    </HeaderHero>
    <section class="max-w-screen-lg flex flex-col m-auto items-center px-8">
      <!-- <section class="flex flex-col items-center gap-4">
        <p class="text-center text-2xl font-bold">
          Notre appel à speakers est ouvert jusqu'au 14 mars 2025
        </p>
        <a
          href="https://conference-hall.io/ng-baguette-conf-2025"
          target="_blank"
          class="btn btn-primary">Soumettez vos propositions</a
        >
      </section> 

      <section class="flex flex-col items-center gap-4">
        <p class="text-center text-2xl font-bold">
          Notre appel à speakers est fermé. Plus d'information à venir !
        </p>
      </section>
      -->
      <ul
        class="flex flex-col max-w-screen-lg mt-12 gap-y-28 px-8"
      >
        {
          tracks.map((track) => (
            <li>
                <ProgramItem track={track} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
