---
import Speaker from "../../components/Speaker.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getCollection } from "astro:content";
import { SITE_DOMAIN } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import HeaderHero from "../../components/HeaderHero.astro";

const speakers = await getCollection("speaker");

const schema = {
  "@context": "https://schema.org",
  "@type": "ItemList",
  name: "List of Speakers",
  description:
    "A list of speakers participating in the web development conference.",
  itemListElement: speakers
    .map((speakerConf) => speakerConf.data)
    .map((speaker) => ({
      "@type": "Person",
      name: speaker.name,
      jobTitle: speaker.jobTitle,
      description: speaker.description,
      url: `${SITE_DOMAIN}/speakers/${speaker.name}`,
      image: speaker.image,
      sameAs: [
        speaker.twitter ? `https://twitter.com/${speaker.twitter}` : null,
        speaker.linkedin
          ? `https://www.linkedin.com/in/${speaker.linkedin}`
          : null,
      ],
    })),
};
---

<Layout title="Speakers" schema={schema}>
  <main>
    <HeaderHero>
      <span slot="title">Speakers</span>
    </HeaderHero>
    <section class="max-w-screen-xl m-auto flex flex-col items-center px-8">
      <!-- <section class="flex flex-col items-center gap-4">
        <p class="text-center text-2xl font-bold">
          Our call for speakers is open until March 14th
        </p>
        <a
          href="https://conference-hall.io/ng-baguette-conf-2025"
          target="_blank"
          class="btn btn-primary">Submit your talk proposals</a
        >
      </section> 
      <section class="flex flex-col items-center gap-4">
        <p class="text-center text-2xl font-bold">
          Call for speakers is closed. More information coming soon!
        </p>
      </section>

      -->

      <ul
        class="flex flex-wrap justify-center mt-12 gap-x-32 gap-y-20 px-8"
      >
        {
          speakers.map((speaker) => (
            <li>
              <!--
              <a
                href={getRelativeLocaleUrl(
                  Astro.currentLocale!,
                  "/speaker/" + speaker.slug
                )}
              >
                -->
                <Speaker speaker={speaker.data} />
              <!--</a> -->
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
