---
import { getCollection } from "astro:content";
import HeaderHero from "../../../components/HeaderHero.astro";
import { SITE_TITLE } from "../../../consts";
import Layout from "../../../layouts/Layout.astro";
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const tracks = await getCollection("track");
  return tracks.map((track) => ({
    params: { slug: decodeURI(track.slug) },
  }));
}

const slug = Astro.params.slug;
const track = (await getCollection("track", (track) => track.id === slug))
  .map((track: CollectionEntry<"track">) => track.data)[0];

const schema = {
  "@context": "https://schema.org",
  "@type": "ItemList",
  name: "Liste des sessions",
  description: "Liste des sessions de la conférence de développement web.",
  itemListElement: {
    "@type": "Event",
    name: track.name,
    description: track.description,
    url: `/fr/track/${track.name}`,
  },
};
---

<Layout title={SITE_TITLE} schema={schema}>
  <main>
    <HeaderHero>
      <span slot="title">{track.name}</span>
      <span slot="description">{track.description}</span>
    </HeaderHero>
    <section class="max-w-screen-lg m-auto px-8"></section>
  </main>
</Layout> 