---
import { SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
import HeaderHero from "../components/HeaderHero.astro";
import { getCollection } from "astro:content";

const tracks = (await getCollection("track")).sort(
  (a, b) =>
    new Date(a.data.startDate).getTime() - new Date(b.data.startDate).getTime()
);

const displayAsHour = (hour: string) => {
  return (
    (hour.startsWith("0") ? hour.slice(1, 2) : hour.slice(0, 2)) +
    ":" +
    hour.slice(-2)
  );
};

const schema = {
  "@context": "https://schema.org",
  "@type": "Event",
  name: "Web Development Conference Agenda",
  description: "The agenda for the web development conference.",
  startDate: "2024-05-15T09:00:00-07:00",
  endDate: "2024-05-16T17:00:00-07:00",
  location: {
    "@type": "Place",
    name: "Cityville Conference Center",
    address: {
      "@type": "PostalAddress",
      streetAddress: "123 Conference Center Drive",
      addressLocality: "Cityville",
      addressRegion: "State",
      postalCode: "12345",
      addressCountry: "Country",
    },
  },
  eventAttendanceMode: "https://schema.org/OfflineEventAttendanceMode",
  eventStatus: "https://schema.org/EventScheduled",
  eventSchedule: [
    {
      "@type": "Schedule",
      startDate: "2024-05-15T09:00:00-07:00",
      endDate: "2024-05-15T12:00:00-07:00",
      name: "Morning Session",
      description: "Various talks and workshops on web development topics.",
      subEvent: [
        {
          "@type": "Event",
          name: "Keynote Address",
          description: "Opening keynote presentation by industry leader.",
          startDate: "2024-05-15T09:00:00-07:00",
          endDate: "2024-05-15T10:00:00-07:00",
        },
        {
          "@type": "Event",
          name: "Panel Discussion: Trends in Web Development",
          description: "Panel discussion featuring experts in the field.",
          startDate: "2024-05-15T10:15:00-07:00",
          endDate: "2024-05-15T12:00:00-07:00",
        },
      ],
    },
  ],
};
---

<Layout title={SITE_TITLE} schema={schema}>
  <main>
    <HeaderHero>
      <span slot="title">Agenda</span>
      <span slot="description">
        Join us for an exciting and informative Angular technical event where
        industry experts and enthusiasts come together to share knowledge,
        network, and explore the latest trends and advancements in Angular
        development. Whether you're a seasoned developer or just starting out,
        this event offers something for everyone. Dive into a series of engaging
        sessions, hands-on workshops, and insightful panel discussions designed
        to enhance your skills and inspire your next project. Don't miss this
        opportunity to connect with the Angular community and take your
        development expertise to the next level.
      </span>
    </HeaderHero>

    <ul
      class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
    >
      {
        tracks.map((track, index) => (
          <li>
            <div class="timeline-middle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="h-5 w-5"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <div
              class={index % 2 === 0 ? "timeline-start mb-10 md:text-end" : "timeline-end md:mb-10"}}
            >
              <time class="block text-sm text-gray-500">
              {displayAsHour(track.data.startDate)} - {displayAsHour(track.data.endDate)}
              </time>
              <a href={'track/' + track.slug} class="text-2xl font-bold text-primary">{track.data.name}</a>
              <p class="mt-2 text-gray-300">{track.data.description}</p>
            </div>
            <hr />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  /*************************
 * GRID SCHEDULE LAYOUT
 *************************/
</style>
